* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.parent {
    width:500px;
    height:500px;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(3,72px);
    grid-template-rows: repeat(2,50px);
}

p {
    height:50px;
    width:67px;
    background-color:rgb(87, 85, 85);
    color:white;
    border-radius:3px;
    padding-top:15px;
    padding-left:10px;
}
