* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 350px;
    height:550px;
    border-radius:10px;
    background-color:#1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color:white;
    font-size:24px;
    font-family:Arial, Helvetica, sans-serif;
}

#name-div p {
    color: #c3de64;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}

#btns-div button{
    width: 250px; 
    padding: 15px;       
    background-color: #4b4949;
    color: white;
    border-radius: 10px;
    border:none;
    transition: 0.3s;
}

#btns-div button:hover {
    background-color:yellowgreen;
    cursor: pointer;
}

img {
    border-radius: 50%;
    height:80px;
    width:80px;
    margin:15px;
}

p {
    color:white;
    margin:10px;
    font-family:Arial, Helvetica, sans-serif;
}