@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Momo+Signature&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.first {
  font-family: "Momo Signature";
}

.second {
    font-family: "Raleway";
}

.third {
    font-family: Arial, Helvetica, sans-serif
}


