.div1 { 
    background-color: #e74c3c;
    border: 2px solid #c0392b;
}

.div2 { 
    background-color: #3498db;
    border: 2px dashed #2980b9;
}
.div3 {
    background-color: #2ecc71; 
    border: 2px dotted #27ae60; 
}
.div4 {
    background-color: #f1c40f;
    border: 2px double #f39c12; color: black; 
}
.div5 {
    background-color: #9b59b6;
    border: 2px solid #8e44ad; 
}



.button1 {
    background-color: #e74c3c;
    color: white;
    border: 2px solid #c0392b;
}

.button1:hover {
    background-color: #c0392b;
}

.button2 {
    background-color: #3498db;
    color: white;
    border: 2px dashed #2980b9;
}

.button2:hover {
    background-color: #2980b9;
}

.button3 {
    background-color: #2ecc71;
    color: white;
    border: 2px dotted #27ae60;
}

.button3:hover {
    background-color: #27ae60;
}

.button4 {
    background-color: #f1c40f;
    color: black;
    border: 2px double #f39c12;
}

.button4:hover {
    background-color: #f39c12;
}

.button5 {
    background-color: #9b59b6;
    color: white;
    border: 2px solid #8e44ad;
}

.button5:hover {
    background-color: #8e44ad;
}



