.button-hover {
    background-color: #3498db;
    border: 1px solid transparent;
    padding: 5px 10px;
    cursor: pointer;
}

.button-hover:hover {
    background-color: #2980b9;
    border: 1px solid black;
}


.p1 {
    border: 1px solid red;
    border-radius: 5px;
}


.li4 {
    border: 1px solid green;
    border-radius: 10px;
}


.button-click {
    background-color: #2ecc71;
    border: 1px solid #27ae60;
    cursor: pointer;
}
.button-click:active {
    transform: translateY(2px);
    border-color: #145a32;
}
