* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color:rgb(71, 71, 219);
    border:3px solid white;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

.circle {
    border:100px solid rgb(210, 194, 103);
    border-radius:100%;
    animation-name:circle;
    margin:50px;
    animation-name:circle;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-duration: 3s;
}

@keyframes circle {
    0% {
        transform:translateX(0);
    }
    100%{
        transform:translateX(1500px);
    }
}