* { 
    padding:0;
    margin:0; 
    box-sizing:border-box; 
} 

body { 
    height:100vh; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    background-color:orange; 
} 

.container {
  position: relative; 
  width: 300px;
  height: 300px;
}

.first {
    border:150px solid rgb(180, 133, 47);
    border-radius:50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; 
}

.second {
    border:150px solid yellow;
    border-radius:50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    animation-name:second;
    animation-timing-function:linear;
    animation-duration:6s;
    animation-iteration-count:infinite;
}

@keyframes second {
    0% {
        transform:scale(1);
    }

    25% {
        transform:scale(1.5);
    }

    50% {
        transform:scale(1);
    }

    75% {
        transform:scale(1.5) translate(30px, 20px);
    }

    100% {
        transform:scale(1) translate(30px, 30px);
    }
}