@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
    margin:0;
    display: grid;
    align-items:center;
    justify-content:center;
    background-color:rgb(240, 237, 237)
}

.main {
    display:grid;
    grid-template-columns:350px 350px;
    grid-template-rows:250px 250px;
    grid-template-areas: 
        "header header"
        "left right";
    border: 5px solid rgb(221, 219, 219);
    border-radius:10px;

    
}

.head {
    background-color: white;
    grid-area:header;
}

.left {
    background-color:hsl(179, 62%, 43%);
    grid-area:left;
}

.right {
    background-color:hsl(179, 43%, 53%);
    grid-area:right;
}

.p1 {
    color: hsl(174, 74%, 37%);
    font-size:26px;
    margin:30px;
    font-family:"Karla", sans-serif;
    font-weight: 700;
}

.p2 {
    color: hsl(71, 73%, 54%);
    margin:30px;
    font-family: "Karla", sans-serif;
    font-weight:750;
    font-size:18px;
}

.p3 {
    color:hsl(218, 22%, 67%);
    margin:30px;
    font-family:"Karla", sans-serif;
    font-size:19px;
}

.p4 {
    color:white;
    margin-left:30px;
    margin-top:30px;
    font-size:22px;
    font-family:"Karla", sans-serif;
    font-weight:500;
}

.p5 {
    color:white;
    font-size:40px;
    font-family:"Karla", sans-serif;
    margin-left:30px;
    margin-top:15px;
    font-weight:700
}

.p6 {
    color:hsl(179, 38%, 79%);
    font-family: "Karla", sans-serif;
    font-weight:300;
}

.p5, .p6 {
    display:inline-block;
    margin-right:10px;
}

.p7 {
    margin-left:30px;
    color:white;
    font-family: "Karla", sans-serif;
    margin-top:10px;
}

.btn1 {
    background-color: hsl(71, 73%, 54%);
    color:white;
    width:260px;
    height:50px;
    margin-left:43px;
    margin-top:30px;
    border: 1px solid hsl(71, 73%, 54%);
    border-radius:5px;
    font-size:17px;
    font-family: "Karla", sans-serif;
    font-weight:500;
}

.p8 {
    color:white;
    font-size:21px;
    margin-left:40px;
    margin-top:30px;
    font-family:"Karla", sans-serif;
    font-weight:700;
}

.p9 {
    color:hsl(179, 38%, 79%);
    margin-top:15px;
    margin-left:40px;
    margin-right:130px;
    font-size:16px;
    font-weight:450;
    font-family: "Karla", sans-serif;
}