.relative {
  width:100px; 
  height:100px;
  background: lightblue;
  position: relative;
  top:100px;
  left:100px;
}

.absolute {
  width:100px;
  height:100px;
  background: coral;
  position: absolute;
  top:230px; 
  right:140px;
}

.fixed {
  width:100px; 
  height:100px;
  background: green;
  position: fixed;
  top:50px; 
  left:50px;
}

.background {
    width: 500px;
    height: 500px;
    background: url("https://plus.unsplash.com/premium_photo-1664299631876-f143dc691c4d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZnVubnl8ZW58MHx8MHx8fDA%3D") no-repeat center center;
    background-size:cover;
}