button {
  background-color: black;      
  color: white;                 
  border: 1px dashed black;                  
  font-size: 16px;              
  cursor: pointer;               
  transition: 0.3s;     
}

button:hover {
  background-color: white;       
  color: black;                 
}


button:active {
  background-color: orange;      
  color: black;
}
