p {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: red;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}