body {
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  text-align: left;
}

thead tr.header-row {
  background-color: #333;
  color: white;
}

thead th {
  text-transform: uppercase;
  font-size: 14px;
}

tbody tr {
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

tbody tr.blue {
  background-color: #337ab7;
}

tbody tr.green {
  background-color: #5cb85c;
}

tbody tr.yellow {
  background-color: #f0ad4e; 
  color: black; 
}

tbody tr.red {
  background-color: #d9534f; 
}

tbody tr.cyan {
  background-color: #5bc0de; 
  color: black; 
}


