ul {
    background: rgb(103, 160, 234);     
    padding: 0;
}

li {
    background: lightskyblue; 
    padding: 10px;
    border-bottom: 3px solid rgb(120, 201, 229); 
    margin-left: 30px; 
    color:blue;
}

li:last-child {
    border-bottom: none;
}
