body {
  background: skyblue;;
  font-family: sans-serif;
}

.box {
  background: white;
  border-radius: 5px;
  text-align: center;
}

h2 {
  color: orange;
  margin-bottom: 5px;
}

p {
  font-size: 13px;
  color: gray;
  margin-bottom: 15px;
}

input, textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


button {
  background: skyblue;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
