h2 {
    font-family:Arial, Helvetica, sans-serif;
}

p {
    font-family:Arial, Helvetica, sans-serif;
}

label {
    font-family:Arial, Helvetica, sans-serif;
}

button {
    background-color:blue;
    color:white;
}
