.box {
    display:flex;
    gap:20px;
    flex-direction:row-reverse;
}

.first {
    background-color:lightcoral;
}

.second {
    background-color:lightblue;
}

.third {
    background-color:lightyellow;
}

.fourth {
    background-color:aqua;
}

