@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    background-color:hsl(241, 100%, 89%);
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    font-family:"Hanken Grotesk", sans-serif;
    
}

.main {
    display:flex;
    background-color:white;
    width:640px;
    border-radius:30px;
}

.result {
    width:320px;
    background-color:hsl(241, 81%, 54%);
    height:450px;
    border-radius:30px;
}

.p1 {
    color:hsl(241, 100%, 89%);
    font-size:22px;
    margin-left:105px;
    margin-top:40px;
    font-weight:700;
}


.div5 { 
    background-color: hsla(256, 72%, 46%, 1);
    border-radius:50%; 
    width: 150px; 
    height: 150px;
    margin-left:85px; 
    margin-top:30px;
}

.p2 {
    color:white;
    font-weight:700;
    font-size:65px;
    margin-left:40px;
}

.p3 {
    margin-left:50px;
    color:hsl(242, 85%, 82%);
}

.h2-1 {
    color:white;
    margin-left:44px;
    margin-top:60px;
}

.paragraph {
    color:white;
    text-align:center;
    margin-top:20px;
    width:250px;
    font-size:18px;
    margin-left:-50px;
}

.summary-p {
    font-size:22px;
    font-weight:700;

}

.css {
    margin: 27px 0 0 30px;
}

.red {
    background-color:hsla(0, 100%, 67%, 0.1);
    width:265px;
    height:50px;
    margin:20px 0 0 30px;
    border-radius:10px;
    display:flex;
    gap:18px;
}

.red img {
    width:25px;
    height:50px;
    margin-left:8px;
}

.red-p {
    color:hsl(0, 100%, 67%);
    margin-left:50px;
    margin-bottom:60px;
    font-size:18px;
}

.yellow {
    background-color: hsla(39, 100%, 56%, 0.1);
    width:265px;
    height:50px;
    margin:20px 0 0 30px;
    border-radius:10px;
    display:flex;
    gap:18px;
}

.yellow img {
    width:25px;
    height:50px;
    margin-left:8px;
}

.yellow-p {
    color:hsl(39, 100%, 56%);
    margin-left:50px;
    margin-bottom:60px;
    font-size:18px;
}

.green {
    background-color:hsla(166, 100%, 37%, 0.1);
    width:265px;
    height:50px;
    margin:20px 0 0 30px;
    border-radius:10px;
    display:flex;
    gap:18px;
}

.green img {
    width:25px;
    height:50px;
    margin-left:8px;
}

.green-p {
    color:hsl(166, 100%, 37%);
    margin-left:50px;
    margin-bottom:60px;
    font-size:18px;
}

.blue {
    background-color:hsla(234, 85%, 45%, 0.1);
    width:265px;
    height:50px;
    margin:20px 0 0 30px;
    border-radius: 10px;
    display:flex;
    gap:18px;
}

.blue img {
    width:25px;
    height:50px;
    margin-left:8px;
}

.blue-p {
    color:hsl(234, 85%, 45%);
    margin-left:50px;
    margin-bottom:60px;
    font-size:18px;
}