* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-box {
    background-color: #ff8a8a;
    padding: 20px;
    width: fit-content;
    margin: 20px auto;
    border-radius: 10px;
}

.gallery-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background: whitesmoke;
    padding: 30px 40px;
    border-radius: 6px;
}
