.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.box {
  border: 2px solid #999;
}

.a { 
    grid-column: span 6; 
    height: 50px;
}
.b { 
    grid-column: span 6; 
    height:50px;
}

.c { 
    grid-column: span 4;
    height:600px;
}
.d { 
    grid-column: span 4; 
    height:600px;
}

.e { 
    grid-column: span 4; 
    height:800px;
    width:800px;
}

.f { 
    grid-column: span 8; 
    height:50px;
}

.g {
    grid-column: span 8; 
    height:600px;
}
.h { 
    grid-column: span 4; 
    height:600px;
}

.i { 
    grid-column: span 4; 
    height:600px;
    width:800px;
}
.j { 
    grid-column: span 4; 
    height:600px;
    width:800px;
}
.k {
    grid-column: span 4; 
    height:600px;
    width:800px;
}

.l { 
    grid-column: span 6; 
    height:50px;
}


